<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP --><p>[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ENDIF -->

<h1>Forum Index</h1>
<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
<div style="overflow:hidden;">
	<!-- IF S_DISPLAY_SEARCH -->
		<form method="post" action="{U_SEARCH_UNANSWERED}" class="forum-action"><fieldset>
			<input type="submit" value="{L_SEARCH_UNANSWERED}"/>
		</fieldset></form>
		<!-- IF S_USER_LOGGED_IN -->
			<form method="post" action="{U_SEARCH_NEW}" class="forum-action"><fieldset>
				<input type="submit" value="{L_SEARCH_NEW}"/>
			</fieldset></form>
		<!-- ENDIF -->
		<form method="post" action="{U_SEARCH_ACTIVE_TOPICS}" class="forum-action"><fieldset>
			<input type="submit" value="{L_SEARCH_ACTIVE_TOPICS}"/>
		</fieldset></form>
	<!-- ENDIF -->
	<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
		<form method="post" action="{U_MARK_FORUMS}" class="forum-action"><fieldset>
			<input type="submit" value="{L_MARK_FORUMS_READ}" accesskey="m"/>
		</fieldset></form>
	<!-- ENDIF -->
	<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
		<form method="post" action="{S_LOGIN_ACTION}" class="forum-action">
			<fieldset>
				<label for="username">{L_USERNAME}:</label>&nbsp;<input type="text" name="username" id="username" size="10" class="inputbox" title="{L_USERNAME}" />  
				<label for="password">{L_PASSWORD}:</label>&nbsp;<input type="password" name="password" id="password" size="10" class="inputbox" title="{L_PASSWORD}" />
				<!-- IF S_AUTOLOGIN_ENABLED -->
					<label for="autologin">{L_LOG_ME_IN} <input type="checkbox" name="autologin" id="autologin" /></label>
				<!-- ENDIF -->
				<input type="submit" name="login" value="{L_LOGIN}" class="button2" />
			</fieldset>
		</form>
		
	<!-- ENDIF -->
</div>
<!-- ENDIF -->

<!-- INCLUDE forumlist_body.html -->



<!-- IF S_DISPLAY_ONLINE_LIST -->
	<!-- IF U_VIEWONLINE --><h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3><!-- ELSE --><h3>{L_WHO_IS_ONLINE}</h3><!-- ENDIF -->
	<p>{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}
	<!-- IF LEGEND --><br /><em>{L_LEGEND}: {LEGEND}</em><!-- ENDIF --></p>
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
	<h3>{L_BIRTHDAYS}</h3>
	<p><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p>
<!-- ENDIF -->

<!-- IF NEWEST_USER -->
	<h3>{L_STATISTICS}</h3>
	<p>{TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}</p>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
