
<div class="panel">
	<!-- IF not S_AVATARS_ENABLED -->
		<p>{L_AVATAR_FEATURES_DISABLED}</p>
	<!-- ENDIF -->

	<fieldset><table>
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
	<tr>
		<th><label>{L_CURRENT_IMAGE}:</label><br /><span>{L_AVATAR_EXPLAIN}</span></th>
		<td><!-- IF AVATAR -->{AVATAR}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /><!-- ENDIF --><br/><label for="delete"><input type="checkbox" name="delete" id="delete" /> {L_DELETE_AVATAR}</label></td>
	</tr>

	<!-- IF S_UPLOAD_AVATAR_FILE or S_CAN_UPLOAD -->
		<tr>
			<th><label for="uploadfile">{L_UPLOAD_AVATAR_FILE}:</label></th>
			<td><input type="hidden" name="MAX_FILE_SIZE" value="{AVATAR_SIZE}" /><input type="file" name="uploadfile" id="uploadfile" class="inputbox autowidth" /></td>
		</tr>
	<!-- ENDIF -->

	<!-- IF S_UPLOAD_AVATAR_URL or S_EDIT -->
		<tr>
			<th><label for="uploadurl">{L_UPLOAD_AVATAR_URL}:</label><br /><span>{L_UPLOAD_AVATAR_URL_EXPLAIN}</span></th>
			<td><input type="text" name="uploadurl" id="uploadurl" value="{AVATAR_URL}" class="inputbox" /></td>
		</tr>
	<!-- ENDIF -->

	<!-- IF S_LINK_AVATAR or S_EDIT -->
		<tr>
			<th><label for="remotelink">{L_LINK_REMOTE_AVATAR}:</label><br /><span>{L_LINK_REMOTE_AVATAR_EXPLAIN}</span></th>
			<td><input type="text" name="remotelink" id="remotelink" value="{AVATAR_REMOTE}" class="inputbox" /></td>
		</tr>
		<tr>
			<th><label for="width">{L_LINK_REMOTE_SIZE}:</label><br /><span>{L_LINK_REMOTE_SIZE_EXPLAIN}</span></th>
			<td>
				<label for="width"><input type="text" name="width" id="width" size="3" value="{AVATAR_WIDTH}" class="inputbox autowidth" /> px</label> &times;&nbsp; 
				<label for="height"><input type="text" name="height" id="height" size="3" value="{AVATAR_HEIGHT}" class="inputbox autowidth" /> px</label>
			</td>
		</tr>
	<!-- ENDIF -->
	</table></fieldset>
	
	<!-- IF S_IN_AVATAR_GALLERY -->
	</div>

	<div class="panel">
		<h3>{L_AVATAR_GALLERY}</h3>
		<div style="text-align:center;">
		<fieldset>
			<label for="category">{L_AVATAR_CATEGORY}: <select name="category" id="category">{S_CAT_OPTIONS}</select></label>
			<input type="submit" value="{L_GO}" name="display_gallery" class="button2" />
			<input type="submit" name="cancel" value="{L_CANCEL}" class="button2" />
		</fieldset>
		</div>

		<div id="gallery"><table>
		<!-- BEGIN avatar_row -->
			<tr>
			<!-- BEGIN avatar_column -->
				<td align="center"><img src="{avatar_row.avatar_column.AVATAR_IMAGE}" alt="" /><br/><input type="radio" name="avatar_select" value="{avatar_row.avatar_column.AVATAR_FILE}" /></td>
			<!-- END avatar_column -->
			</tr>
		<!-- END avatar_row -->
		</table></div>
	
	<!-- ENDIF -->
</div>
