<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE} class="centred-form">

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<p>{L_PROFILE_INFO_NOTICE}</p>

	<fieldset><table>
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
	<tr>
		<th><label for="icq">{L_UCP_ICQ}:</label></th>
		<td><input type="text" name="icq" id="icq" maxlength="15" value="{ICQ}" class="inputbox" /></td>
	</tr>
	<tr>
		<th><label for="aim">{L_UCP_AIM}:</label></th>
		<td><input type="text" name="aim" id="aim" maxlength="255" value="{AIM}" class="inputbox" /></td>
	</tr>
	<tr>
		<th><label for="msn">{L_UCP_MSNM}:</label></th>
		<td><input type="text" name="msn" id="msn" maxlength="255" value="{MSN}" class="inputbox" /></td>
	</tr>
	<tr>
		<th><label for="yim">{L_UCP_YIM}:</label></th>
		<td><input type="text" name="yim" id="yim" maxlength="255" value="{YIM}" class="inputbox" /></td>
	</tr>
	<tr>
		<th><label for="jabber">{L_UCP_JABBER}:</label></th>
		<td><input type="text" name="jabber" id="jabber" maxlength="255" value="{JABBER}" class="inputbox" /></td>
	</tr>
	<tr>
		<th><label for="website">{L_WEBSITE}:</label></th>
		<td><input type="text" name="website" id="website" maxlength="255" value="{WEBSITE}" class="inputbox" /></td>
	</tr>
	<tr>
		<th><label for="location">{L_LOCATION}:</label></th>
		<td><input type="text" name="location" id="location" maxlength="255" value="{LOCATION}" class="inputbox" /></td>
	</tr>
	<tr>
		<th><label for="occupation">{L_OCCUPATION}:</label></th>
		<td><textarea name="occupation" id="occupation" class="inputbox" rows="3" cols="30">{OCCUPATION}</textarea></td>
	</tr>
	<tr>
		<th><label for="interests">{L_INTERESTS}:</label></th>
		<td><textarea name="interests" id="interests" class="inputbox" rows="3" cols="30">{INTERESTS}</textarea></td>
	</tr>
	<!-- IF S_BIRTHDAYS_ENABLED -->
		<tr>
			<th><label for="bday_day">{L_BIRTHDAY}:</label><br /><span>{L_BIRTHDAY_EXPLAIN}</span></th>
			<td>
				<label for="bday_day">{L_DAY}: <select name="bday_day" id="bday_day" style="width: 4em;">{S_BIRTHDAY_DAY_OPTIONS}</select></label> 
				<label for="bday_month">{L_MONTH}: <select name="bday_month" id="bday_month" style="width: 4em;">{S_BIRTHDAY_MONTH_OPTIONS}</select></label> 
				<label for="bday_year">{L_YEAR}: <select name="bday_year" id="bday_year" style="width: 6em;">{S_BIRTHDAY_YEAR_OPTIONS}</select></label>
			</td>
		</tr>
	<!-- ENDIF -->
	<!-- BEGIN profile_fields -->
		<tr>
			<th><label<!-- IF profile_fields.FIELD_ID --> for="{profile_fields.FIELD_ID}"<!-- ENDIF -->>{profile_fields.LANG_NAME}:<!-- IF profile_fields.S_REQUIRED --> *<!-- ENDIF --></label>
			<!-- IF profile_fields.LANG_EXPLAIN --><br /><span>{profile_fields.LANG_EXPLAIN}</span><!-- ENDIF --></th>
			<!-- IF profile_fields.ERROR --><dd class="error">{profile_fields.ERROR}</td><!-- ENDIF -->
			<td>{profile_fields.FIELD}</td>
		</tr>
	<!-- END profile_fields -->
	</table></fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

<div style="text-align:center">
<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
	{S_FORM_TOKEN}
</fieldset>
</div>
</form>

<!-- INCLUDE ucp_footer.html -->
