<!-- INCLUDE overall_header.html -->
<h1><a href="{U_VIEW_FORUM}">{FORUM_NAME}</a></h1>
<!-- IF U_MCP --><p>[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ENDIF -->
<!-- IF FORUM_DESC or MODERATORS or U_MCP -->
<p>
	<!-- NOTE: remove the style="display: none" when you want to have the forum description on the forum body -->
	<!-- IF FORUM_DESC --><span style="display: none">{FORUM_DESC}<br /></span><!-- ENDIF -->
	<!-- IF MODERATORS --><strong><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->:</strong> {MODERATORS}<!-- ENDIF -->
</p>
<!-- ENDIF -->

<!-- IF S_FORUM_RULES -->
	<div class="rules">
		<div class="inner"><span class="corners-top"><span></span></span>

		<!-- IF U_FORUM_RULES -->
			<a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
		<!-- ELSE -->
			<strong>{L_FORUM_RULES}</strong><br />
			{FORUM_RULES}
		<!-- ENDIF -->

		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->

<!-- IF S_DISPLAY_POST_INFO or PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
<div style="overflow:hidden;">
	
	<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
		<form method="post" action="{U_POST_NEW_TOPIC}" class="forum-action">
			<fieldset>
				<input type="submit" value="<!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->"/>
			</fieldset>
		</form>
	<!-- ENDIF -->
	
	<!-- IF S_HAS_SUBFORUM -->
		<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
			<form method="post" action="{U_MARK_FORUMS}" class="forum-action">
				<fieldset>
					<input type="submit" value="{L_MARK_FORUMS_READ}"/>
				</fieldset>
			</form>
			<!-- ENDIF -->
	<!-- ENDIF -->
	
	<!-- IF S_SELECT_SORT_DAYS and not S_DISPLAY_ACTIVE -->
		<form method="post" action="{S_FORUM_ACTION}" class="forum-action">
			<fieldset>
				<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
				<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
				<label>{L_DISPLAY_TOPICS}: {S_SELECT_SORT_DAYS}</label>
				<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label>
				<label>{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="button2" /></label>
			</fieldset>
		</form>
	<!-- ENDIF -->
	<!-- IF S_DISPLAY_SEARCHBOX -->
		<form method="post" id="forum-search" action="{S_SEARCHBOX_ACTION}" class="forum-action">
			<fieldset>
				<input class="inputbox search tiny" type="text" name="keywords" id="search_keywords" size="20" value="{L_SEARCH_FORUM}" onclick="if (this.value == '{LA_SEARCH_FORUM}') this.value = '';" onblur="if (this.value == '') this.value = '{LA_SEARCH_FORUM}';" />
				<input class="button2" type="submit" value="{L_SEARCH}" />
				<input type="hidden" value="{FORUM_ID}" name="fid[]" />
			</fieldset>
		</form>
	<!-- ENDIF -->
</div>
<!-- ENDIF -->

<!-- IF S_HAS_SUBFORUM -->
	<!-- INCLUDE forumlist_body.html -->
<!-- ENDIF -->

<!-- IF S_NO_READ_ACCESS -->

	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<strong>{L_NO_READ_ACCESS}</strong>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<!-- IF not S_USER_LOGGED_IN -->

		<form action="{S_LOGIN_ACTION}" method="post">

		<div class="panel">
			<div class="inner"><span class="corners-top"><span></span></span>

			<div class="content">
				<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>

				<fieldset class="fields1">
				<dl>
					<dt><label for="username">{L_USERNAME}:</label></dt>
					<dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="inputbox autowidth" /></dd>
				</dl>
				<dl>
					<dt><label for="password">{L_PASSWORD}:</label></dt>
					<dd><input type="password" tabindex="2" id="password" name="password" size="25" class="inputbox autowidth" /></dd>
					<!-- IF S_AUTOLOGIN_ENABLED --><dd><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="3" /> {L_LOG_ME_IN}</label></dd><!-- ENDIF -->
					<dd><label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="4" /> {L_HIDE_ME}</label></dd>
				</dl>
				<dl>
					<dt>&nbsp;</dt>
					<dd><input type="submit" name="login" tabindex="5" value="{L_LOGIN}" class="button1" /></dd>
				</dl>
				</fieldset>
			</div>

			<span class="corners-bottom"><span></span></span></div>
		</div>

		</form>

	<!-- ENDIF -->

<!-- ENDIF -->

<!-- BEGIN topicrow -->
	<!-- IF topicrow.S_FIRST_ROW -->
	<table width="100%">
		<tr><th>Topic</th><th>Created</th><th>Replies</th><th>Views</th><th>Last Post</th></tr>
	<!-- ENDIF -->
		<tr><td><!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF --><a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a><br/>
				<span style="float:right;font-size:small;font-style:italic;">
					<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED --><a href="{topicrow.U_MCP_QUEUE}">{topicrow.UNAPPROVED_IMG}</a> <!-- ENDIF -->
					<!-- IF topicrow.S_TOPIC_REPORTED --><a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a><!-- ENDIF -->
					<!-- IF topicrow.PAGINATION --><strong class="pagination"><span>{topicrow.PAGINATION}</span></strong><!-- ENDIF -->
					<!-- IF topicrow.ATTACH_ICON_IMG -->{topicrow.ATTACH_ICON_IMG} <!-- ENDIF -->
				</span>
			</td>
			<td>{topicrow.TOPIC_AUTHOR_FULL} {L_POSTED_ON_DATE} <a href="{topicrow.U_VIEW_TOPIC}">{topicrow.FIRST_POST_TIME}</a></td>
			<td>{topicrow.REPLIES}</td>
			<td>{topicrow.VIEWS}</td>
			<td>{topicrow.LAST_POST_AUTHOR_FULL} {L_POSTED_ON_DATE} <a href="{topicrow.U_LAST_POST}">{topicrow.LAST_POST_TIME}</a></td>
		</tr>

	<!-- IF topicrow.S_LAST_ROW -->
	</table>
	<!-- ENDIF -->
<!-- BEGINELSE -->
	<!-- IF S_IS_POSTABLE -->
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<strong>{L_NO_TOPICS}</strong>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->
<!-- END topicrow -->

<hr/>

<!-- IF .topicrow and not S_DISPLAY_ACTIVE -->
	<div class="topic-actions">
		<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
		<div class="buttons">
			<div class="<!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->post-icon<!-- ENDIF -->" title="<!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->"><a href="{U_POST_NEW_TOPIC}"><span></span><!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF --></a></div>
		</div>
		<!-- ENDIF -->

		<!-- IF PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
		<div class="pagination">
			<!-- IF TOTAL_TOPICS and not S_IS_BOT and U_MARK_TOPICS --><a href="{U_MARK_TOPICS}">{L_MARK_TOPICS_READ}</a> &bull;  <!-- ENDIF -->
			<!-- IF TOTAL_POSTS and not NEWEST_USER --> {TOTAL_POSTS}<!-- ELSEIF TOTAL_TOPICS and not NEWEST_USER --> {TOTAL_TOPICS}<!-- ENDIF -->
			<!-- IF TOTAL_USERS -->{TOTAL_USERS}<!-- ENDIF -->
			<!-- IF PAGINATION --> &bull;  <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a>
			 &bull;  <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
		</div>
		<!-- ENDIF -->
	</div>
<!-- ENDIF -->

<!-- INCLUDE jumpbox.html -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3>
	<p>{LOGGED_IN_USER_LIST}</p>
<!-- ENDIF -->

<!-- IF S_DISPLAY_POST_INFO -->
	<h3>{L_FORUM_PERMISSIONS}</h3>
	<p><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></p>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
